/* Google font link (Mulish font) */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Style for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* Common Style */

/* var for color */
:root {
    --black: #131318;
    --orange: #FF5400;
    --paragraph_black: rgba(19, 19, 24, 0.70);
    --bluish_gray: #5A5A5D;
    --font-weight800: 800;
}

.btn-primary {
    border-radius: 8px;
    background: var(--orange);
    padding: 1rem 2rem;
    border: none;
    color: white;
    font-size: 1.2rem;
}


/* Header Style */

header {
    padding: 3rem 8rem 5rem;
}

/* Navbar Style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .title {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav .title h2 {
    font-size: 2.3rem;
    font-weight: 800;
    color: var(--black);
}

nav .title span {
    color: var(--orange);
}

nav .title i {
    display: none;
    font-size: 2rem;
    margin-left: 1.5rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

nav li {
    list-style: none;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    transition: all 0.7s;
}

nav li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--bluish_gray);
    transition: all 0.7s;
}

nav li:first-child a {
    color: var(--orange);
}

nav li:hover {
    background-color: var(--orange);
}

nav li:hover a {
    color: white;
}

/* Style of Find Travel Info Section */

.travel-info {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
    padding: 10rem 15rem;
    border-radius: 16px;
}

.travel-info h1 {
    font-size: 4rem;
    color: white;
    font-weight: var(--font-weight800);
    text-align: center;
}

.travel-info p {
    color: white;
    text-align: center;
    width: 70%;
    margin: 1.5rem auto 3rem;
    line-height: 1.5rem;
}

.travel-info .search-place {
    display: flex;
    gap: 1.5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.travel-info .search-place input,
select {
    border-radius: 8px;
    background: #FFF;
    padding: 1rem;
    border: none;
    outline: none;
    width: 22%;
    font-size: 1.2rem;
}

.travel-info .search-place input::placeholder {
    color: rgba(19, 19, 24, 0.50);
}

.travel-info .search-place button{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 20%;
}

/* Responsive for mobile devices */
@media screen and (max-width: 600px) {
    header {
        padding: 1.5rem 1rem;
    }

    nav ul {
        display: none;
    }

    nav .title h2 {
        font-size: 1.3rem;
    }

    nav .title i {
        display: inline-block;
    }
    .travel-info {
        background-position: center center;
        padding: 2rem 1rem;
    }
    
    .travel-info h1 {
        font-size: 1.3rem;
    }
    
    .travel-info p {
        width: 100%;
        margin: 1rem auto 2rem;
    }
    
    .travel-info .search-place {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
    }
    
    .travel-info .search-place select {
        padding: 1rem;
        width: 90%;
        font-size: 1rem;
    }

    .travel-info .search-place input {
        padding: 1rem;
        width: 80%;
        font-size: 1rem;
    }
    
    .travel-info .search-place button{
        width: 90%;
    }
}


/* Responsive for medium devices */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 3rem 2rem 5rem;
    }

    nav .title h2 {
        font-size: 1.8rem;
    }

    nav ul {
        gap: 0rem;
    }

    nav li {
        padding: 0.5rem 1.2rem;
    }
}

/* Responsive for extra medium devices */
@media screen and (min-width: 1025px) and (max-width: 1450px) {
    header {
        padding: 3rem 2.5rem 5rem;
    }

    nav .title h2 {
        font-size: 2rem;
    }

    nav ul {
        gap: 0rem;
    }

    nav li {
        padding: 0.5rem 1.2rem;
    }
}