/* Google font link (Mulish font) */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Style for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* Common Style */

/* var for color */
:root {
    --black: #131318;
    --orange: #FF5400;
    --paragraph_black: rgba(19, 19, 24, 0.70);
    --bluish_gray: #5A5A5D;
    --font-weight800: 800;
}

.btn-primary {
    border-radius: 8px;
    background: var(--orange);
    padding: 1rem 2rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

p{
    text-align: justify;
}


/* Header Style */

header {
    padding: 3rem 8rem 5rem;
}

/* Navbar Style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .title {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav .title h2 {
    font-size: 2.3rem;
    font-weight: 800;
    color: var(--black);
}

nav .title span {
    color: var(--orange);
}

nav .title i {
    display: none;
    font-size: 2rem;
    margin-left: 1.5rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

nav li {
    list-style: none;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    transition: all 0.7s;
}

nav li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--bluish_gray);
    transition: all 0.7s;
}

nav li:first-child a {
    color: var(--orange);
}

nav li:hover {
    background-color: var(--orange);
}

nav li:hover a {
    color: white;
}

/* Style of Find Travel Info Section */

.travel-info {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 3rem;
    padding: 10rem 15rem;
    border-radius: 16px;
}

.travel-info h1 {
    font-size: 4rem;
    color: white;
    font-weight: var(--font-weight800);
    text-align: center;
}

.travel-info p {
    color: white;
    text-align: center;
    width: 70%;
    margin: 1.5rem auto 3rem;
    line-height: 1.5rem;
}

.travel-info .search-place {
    display: flex;
    gap: 1.5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.travel-info .search-place input,
select {
    border-radius: 8px;
    background: #FFF;
    padding: 1rem;
    border: none;
    outline: none;
    width: 22%;
    font-size: 1.2rem;
}

.travel-info .search-place input::placeholder {
    color: rgba(19, 19, 24, 0.50);
}

.travel-info .search-place button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 20%;
}

/* main section style */
main {
    padding: 1rem 8rem 5rem;
}

/* Popular Tour Section style */

.popular_tour {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.tour-content h1 {
    font-size: 2.6rem;
    font-weight: var(--font-weight800);
    color: var(--black);
}

.tour-content p {
    color: var(--bluish_gray);
    margin: 1.5rem auto;
    text-align: left;
    line-height: 1.5rem;
    text-align: justify;
}

.tour-content ul li {
    list-style-position: inside;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0 10px;
}

.tour-image {
    width: 100%;
}

.tour-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* Destination section style */

.destination {
    margin: 5rem auto 3rem;
}

.destination h1 {
    color: var(--black);
    font-weight: var(--font-weight800);
    font-size: 2.6rem;
    text-align: center;
}

.destination p {
    color: var(--bluish_gray);
    line-height: 1.5rem;
    text-align: center;
    width: 60%;
    margin: 2rem auto;
}

.destination .first {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.destination .second {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.destination .third {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

/* Style for reason Section */

.reason {
    margin: 5rem auto 3rem;
}

.reason h1 {
    font-size: 2.6rem;
    font-weight: var(--font-weight800);
    color: var(--black);
    text-align: center;
}

.reason .choose {
    margin: 1rem auto 3rem;
    color: var(--paragraph_black);
    text-align: center;
    width: 60%;
}

.reason .services {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.reason .one {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.reason .two {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.reason .three {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.reason .card {
    width: 40%;
    border-radius: 16px;
    padding: 2rem;
    text-align: left;
}

.reason .card img {
    width: 10%;
}

.reason .card h2 {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: var(--font-weight800);
    margin: 2rem 0 1rem;
}

.reason .card p {
    color: var(--bluish_gray);
    line-height: 1.5rem;
    width: 80%;
    text-align: justify;
}

/* Discount Section Style */

.discount {
    margin: 5rem auto;
}

.discount h1 {
    font-size: 2.6rem;
    color: var(--black);
    font-weight: var(--font-weight800);
    text-align: center;
}

.discount .choose {
    color: var(--paragraph_black);
    margin: 2rem auto;
    text-align: center;
    width: 60%;
}

.discount .tour-place {
    border-radius: 16px;
    background: url('../Images/Group\ 39.png'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-bottom: 1.5rem;
}

.discount .tour-place .mars {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 40%;
    padding: 3rem;

}

.discount .tour-place .one {
    margin-left: 700px;
}

.discount .tour-place .two {
    margin-left: 200px;
}

.discount .tour-place .three {
    margin-left: 700px;
}

.discount .tour-place .time-place {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: start;
}

.discount .time-place .day {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.discount .time-place p {
    color: var(--bluish_gray);
}

.discount .time-place i {
    color: #FF5400;
    font-size: 1.2rem;
}

.discount .time-place h2 {
    font-size: 1.5rem;
    text-align: left;
}

.discount .tour-place .place-description {
    margin-top: 1rem;
}

.discount .tour-place .price {
    color: #FF5400;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.discount .button {
    margin-left: 750px;
}

/* Simple Section style */

.simple {
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}

.simple .content {
    width: 45%;
}

.simple .content h1 {
    font-size: 2.6rem;
    font-weight: var(--font-weight800);
    color: var(--black);
}

.simple .content p {
    color: var(--bluish_gray);
    margin: 1.2rem auto;
    line-height: 1.5rem;
}

.simple .content ul {
    list-style-position: inside;
    padding-left: 10px;
    margin-bottom: 1.5rem;
}

.simple .content li {
    color: var(--black);
    margin-bottom: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight800);
}

.simple iframe {
    border-radius: 15px;
    /* width: 100%; */
}

/* Style Contact section */

.contact {
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}

.contact .contact-form {
    border: 2px solid #FF5400;
    border-radius: 15px;
    padding: 2.5rem;
}

.contact .contact-form h1 {
    font-size: 1.5rem;
    font-weight: var(--font-weight800);
    color: var(--black);
}

.contact .contact-form p {
    color: var(--paragraph_black);
    margin: 1.2rem auto;
}

.contact hr {
    margin: 0 auto 1.5rem;
    height: 1px;
    background-color: rgb(235, 235, 235);
}

.contact input {
    padding: 1rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 1rem;
    border: none;
}

.contact input[type="text"],
input[type="email"] {
    width: 94%;
}

.contact input[type="button"] {
    width: 100%;
    background-color: #FF5400;
    color: white;
}

.contact .image {
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0 100px 500px;
}

.contact .image .offer {
    background-color: #FF5400;
    padding: 1.5rem 6rem;
    border-radius: 16px;
    transform: rotate(-40deg);
}

.contact .image p {
    color: white;
    text-align: center;
}

.contact .image .travel {
    margin-bottom: 5px;
}

.contact .image .save {
    font-weight: 800;
}

/* Footer section style */
footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 8rem;
}

footer > div{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

footer h2 {
    font-size: 2.3rem;
    font-weight: 800;
    color: var(--black);
    text-align: center;
}

footer h2 span {
    color: var(--orange);
}

footer p{
    width: 70%;
    color: var(--paragraph_black);
    line-height: 1.5rem;
    margin: 1.5rem auto;
    text-align: center;
}

footer .icon{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

footer .icon i{
    font-size: 2rem;
    color: #FF5400;
}

footer hr{
    width: 80%;
    height: 1px;
    margin: 2rem auto 1rem;
    background-color: #5A5A5D;
}



/* Responsive for mobile devices */
@media screen and (max-width: 600px) {
    header {
        padding: 1.5rem 1rem;
    }

    nav ul {
        display: none;
    }

    nav .title h2 {
        font-size: 1.3rem;
    }

    nav .title i {
        display: inline-block;
    }

    .travel-info {
        background-position: center center;
        padding: 2rem 1rem;
    }

    .travel-info h1 {
        font-size: 1.3rem;
    }

    .travel-info p {
        width: 100%;
        margin: 1rem auto 2rem;
    }

    .travel-info .search-place {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
    }

    .travel-info .search-place select {
        padding: 1rem;
        width: 90%;
        font-size: 1rem;
    }

    .travel-info .search-place input {
        padding: 1rem;
        width: 80%;
        font-size: 1rem;
    }

    .travel-info .search-place button {
        width: 90%;
    }

    main {
        padding: 1rem 1rem;
    }

    .popular_tour {
        flex-direction: column;
        gap: 2rem;
    }

    .tour-content h1 {
        font-size: 1.8rem;
    }

    .tour-content p {
        margin: 1rem auto;
    }

    .destination h1 {
        font-size: 1.8rem;
    }

    .destination p {
        width: 90%;
    }

    .destination .destination-gallery .first,
    .second,
    .third {
        flex-direction: column;
    }

    .destination .destination-gallery img {
        width: 100%;
        height: 250px;
    }

    .reason h1 {
        font-size: 1.8rem;
    }

    .reason .choose {
        width: 90%;
    }

    .reason .services {
        flex-direction: column;
    }

    .reason .card {
        width: 90%;
        padding: 2rem 1rem;
    }

    .reason .card img {
        width: 15%;
    }

    .reason .card h2 {
        font-size: 1.5rem;
    }

    .reason .card p {
        width: 90%;
    }

    .discount h1 {
        font-size: 1.8rem;
    }

    .discount .choose {
        width: 100%;
    }

    .discount .tour-place {
        padding-top: 10rem;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
    }

    .discount .tour-place .mars {
        width: 70%;
        padding: 1.5rem;

    }

    .discount .tour-place .one {
        margin-left: 30px;
    }

    .discount .tour-place .two {
        margin-left: 30px;
    }

    .discount .tour-place .three {
        margin-left: 30px;
    }

    .discount .tour-place .time-place {
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .discount .time-place .day {
        margin-bottom: 0.5rem;
    }

    .discount .time-place h2 {
        font-size: 1rem;
    }

    .discount .tour-place .price {
        font-size: 0.7rem;
    }

    .discount .button {
        margin-left: 80px;
    }

    .simple {
        flex-direction: column;
        gap: 1.5rem;
        margin: 1rem auto;
    }

    .simple .content {
        width: 90%;
    }

    .simple .content h1 {
        font-size: 1.8rem;
    }

    .simple .content ul {
        padding-left: 10px;
    }

    .simple iframe {
        width: 100%;
    }

    .contact {
        flex-direction: column;
        gap: 1.5rem;
    }

    .contact .image {
        background-size: 100%;
        background-position: center;
        padding: 180px 0 85px 210px;
    }

    .contact .image .offer {
        padding: 3px 6px;
        transform: rotate(-40deg);
    }

    .contact .image .travel {
        margin-bottom: 5px;
    }
    footer{
        padding: 2rem 1rem;
    }
    
    footer > div{
        gap: 0.3rem;
    }
    
    footer h2 {
        font-size: 1.5rem;
    }
    
    footer p{
        width: 90%;
    }
    
    footer .icon{
        gap: 0.8rem;
    }
    
    footer .icon i{
        font-size: 2rem;
        color: #FF5400;
    }
    
    footer hr{
        width: 90%;
    }
}


/* Responsive for medium devices */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 3rem 2rem 5rem;
    }

    nav .title h2 {
        font-size: 1.8rem;
    }

    nav ul {
        gap: 0rem;
    }

    nav li {
        padding: 0.5rem 1.2rem;
    }

    .travel-info {
        background-position: center center;
        padding: 5rem 4rem;
    }

    .travel-info h1 {
        font-size: 2.5rem;
    }

    .travel-info p {
        width: 80%;
        margin: 1rem auto 2.5rem;
    }

    .travel-info .search-place {
        gap: 1.5rem;
        padding: 1rem;
    }

    .travel-info .search-place input,
    select {
        padding: 1rem;
        width: 20%;
        font-size: 1rem;
    }

    .travel-info .search-place button {
        width: 25%;
    }

    main {
        padding: 1rem 2rem;
    }

    .popular_tour {
        gap: 3rem;
    }

    .tour-content h1 {
        font-size: 2rem;
    }

    .tour-image {
        width: 100%;
    }

    .tour-image img {
        width: 100%;
        height: 60%;
        border-radius: 15px;
    }

    .destination h1 {
        font-size: 2rem;
    }

    .destination p {
        width: 90%;
    }

    .destination .destination-gallery .second img {
        width: 30%;
        height: 250px;
    }

    .destination .destination-gallery .first img,
    .third img {
        width: 50%;
        height: 250px;
    }

    .reason h1 {
        font-size: 2rem;
    }

    .reason .choose {
        width: 90%;
    }

    .reason .card {
        padding: 2rem 1rem;
    }

    .reason .card p {
        width: 90%;
    }

    .discount .choose {
        width: 90%;
    }

    .discount .tour-place .mars {
        width: 40%;
        padding: 2.5rem;
    }

    .discount .tour-place .one {
        margin-left: 400px;
    }

    .discount .tour-place .two {
        margin-left: 100px;
    }

    .discount .tour-place .three {
        margin-left: 400px;
    }

    .discount .button {
        margin-left: 400px;
    }
}

/* Responsive for extra medium devices */
@media screen and (min-width: 1025px) and (max-width: 1450px) {
    header {
        padding: 3rem 2.5rem 5rem;
    }

    nav .title h2 {
        font-size: 2rem;
    }

    nav ul {
        gap: 0rem;
    }

    nav li {
        padding: 0.5rem 1.2rem;
    }

    .travel-info {
        background-position: center center;
        padding: 5rem 4rem;
    }

    .travel-info h1 {
        font-size: 2.5rem;
    }

    .travel-info p {
        width: 80%;
        margin: 1rem auto 2.5rem;
    }

    .travel-info .search-place {
        gap: 1.5rem;
        padding: 1rem;
    }

    .travel-info .search-place input,
    select {
        padding: 1rem;
        width: 20%;
        font-size: 1rem;
    }

    .travel-info .search-place button {
        width: 25%;
    }

    main {
        padding: 1rem 2.5rem;
    }

    .popular_tour {
        gap: 3rem;
    }

    .tour-content h1 {
        font-size: 2.4rem;
    }

    .tour-image {
        width: 100%;
    }

    .tour-image img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .destination h1 {
        font-size: 2.6rem;
    }

    .destination p {
        width: 80%;
    }

    .reason .card p {
        width: 90%;
    }

    .discount .choose {
        width: 90%;
    }

    .discount .tour-place .mars {
        width: 40%;
        padding: 2.5rem;
    }

    .discount .tour-place .one {
        margin-left: 500px;
    }

    .discount .tour-place .two {
        margin-left: 150px;
    }

    .discount .tour-place .three {
        margin-left: 500px;
    }

    .discount .button {
        margin-left: 500px;
    }
    .contact .image {
        background-size: cover;
        background-position: center;
        padding: 280px 0 85px 310px;
    }
}